<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			
			<tr th:each="singleTransaction : ${transactions}">
				<td><a th:href="@{'/transaction/' + ${singleTransaction.id}}" th:text="${singleTransaction.id}">DummyID</a></td>
				<td th:text="${singleTransaction.date}">DummyDate</td>
				<td th:text="${singleTransaction.retailer}">DummyRetailer</td>
				<td th:text="${singleTransaction.type == 'C' ? singleTransaction.amount : '---'}">Dummy Funds In</td>
				<td th:text="${singleTransaction.type == 'D' ? singleTransaction.amount : '---'}">DummyFund Out</td>		
			</tr>
						
		</table>
	</body>
</html>